# ignore everything by default
*

# allow these files/folders
!.gitignore
!requirements.txt
!.github/
!scripts/
!scripts/daily_tiktok_pull.py
!scripts/daily_instagram_pull.py
!scripts/daily_youtube_pull.py
!README.md